.d-block {
    display: block !important;
  }

  .carousel-control-next, .carousel-control-prev{
    display: block !important;
    margin-top: 281px;
  }

   header .bg-light {
    background-color: #092327!important;
  }

  .navbar-light .navbar-nav .nav-link{
    color: #fff !important;
  }

  .card{
   display: none !important;
  }

 


  