main .formulario{
    width: 50vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
 }
 .col-12{
     text-align: center;
 }

 .col-md-6{
     text-align: center;
 }

 .mb-3{
     text-align: center;
 }
